{# Gilt fuer die ganze Anwendung: gemeinsames Mistkuebel-Symbol fuer alle Buttons "Loeschen"
   (siehe .ekey-btn-delete in style.css). Als eigenes Makro ausgelagert, damit das SVG nicht in
   jedem Template einzeln dupliziert werden muss - wird per {% import "_macros_buttons.html" as
   btn %} eingebunden und mit {{ btn.delete_icon() }} innerhalb des jeweiligen <button>
   verwendet (das umgebende <button>-Element inkl. onclick/confirm() bleibt dabei am jeweiligen
   Einsatzort, da sich dessen Bestaetigungstext von Fall zu Fall unterscheidet). #}
{% macro delete_icon() %}<svg viewBox="0 0 16 16" width="14" height="14" fill="currentColor" aria-hidden="true" focusable="false"><path d="M5.5 5.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-1 0v-6zM8 5.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-1 0v-6zm3 0a.5.5 0 0 1 1 0v6a.5.5 0 0 1-1 0v-6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L10.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg>{% endmacro %}
